extends ../templates/head-app

block styles 
  link(rel="stylesheet", href="/css/dist/users.css")
  link(rel="stylesheet", href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css")

block contenido
  //- section.container

  #wrapper

block scripts
  script(src="https://unpkg.com/gridjs/dist/gridjs.umd.js")
  script(src="/js/users.js") 
